<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>SERVLET.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarMarca</servlet-name>
        <servlet-class>SERVLET.ServletCadastrarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarMarca</servlet-name>
        <servlet-class>SERVLET.ServletListarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletManipularMarca</servlet-name>
        <servlet-class>SERVLET.ServletManipularMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarMarca</servlet-name>
        <servlet-class>SERVLET.ServletConsultarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarCargo</servlet-name>
        <servlet-class>SERVLET.ServletCadastrarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarCargo</servlet-name>
        <servlet-class>SERVLET.ServletListarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarCargo</servlet-name>
        <servlet-class>SERVLET.ServletConsultarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletManipularCargo</servlet-name>
        <servlet-class>SERVLET.ServletManipularCargo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarMarca</servlet-name>
        <url-pattern>/ServletCadastrarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarMarca</servlet-name>
        <url-pattern>/ServletListarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletManipularMarca</servlet-name>
        <url-pattern>/ServletManipularMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarMarca</servlet-name>
        <url-pattern>/ServletConsultarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarCargo</servlet-name>
        <url-pattern>/ServletCadastrarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarCargo</servlet-name>
        <url-pattern>/ServletListarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarCargo</servlet-name>
        <url-pattern>/ServletConsultarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletManipularCargo</servlet-name>
        <url-pattern>/ServletManipularCargo</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
