<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lojadatabase?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="POJO/Marca.hbm.xml"/>
    <mapping resource="POJO/Unidade.hbm.xml"/>
    <mapping resource="POJO/Venda.hbm.xml"/>
    <mapping resource="POJO/Estado.hbm.xml"/>
    <mapping resource="POJO/Produto.hbm.xml"/>
    <mapping resource="POJO/Funcionario.hbm.xml"/>
    <mapping resource="POJO/Cliente.hbm.xml"/>
    <mapping resource="POJO/Pessoa.hbm.xml"/>
    <mapping resource="POJO/Fornecedor.hbm.xml"/>
    <mapping resource="POJO/Cidade.hbm.xml"/>
    <mapping resource="POJO/Acesso.hbm.xml"/>
    <mapping resource="POJO/Cargo.hbm.xml"/>
    <mapping resource="POJO/ProdutoVenda.hbm.xml"/>
    <mapping resource="POJO/Bairro.hbm.xml"/>
    <mapping resource="POJO/Logradouro.hbm.xml"/>
    <mapping resource="POJO/Contato.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
